<div class="navbar">
    <div class="header">
        <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
            <a class="pure-menu-heading">Tadpole Tutoring</a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item pure-menu-selected"><a href="index.html" class="pure-menu-link">Home</a></li>
                <li class="pure-menu-item"><a href="about.html" class="pure-menu-link">About Us</a></li>
                <li class="pure-menu-item"><a href="mission.html" class="pure-menu-link">Our Mission</a></li>
                <li class="pure-menu-item"><a href="/login" class="pure-menu-link">Log In</a></li>
            </ul>
        </div>
    </div>
</div>
